.weather-group > .row {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.weather-group > .row > .col-3 {
    display: inline-block;
}

#main {
    position: absolute;
    height: 100%;
    width: 100%;
}
  
.title {
    font-size: 50px;
    font-weight: 500;
}
  
.form-rounded {
    border-radius: 2rem;
}
.back-card {
    border-radius: 40px !important;
    color: white;
    background: linear-gradient(to bottom right, #707070, #434647);
    text-shadow: 2px 2px 2px #707070;
}
  
.city-name {
    position: absolute;
    width: 100%;
    padding-right: 20px;
}
  
.city-name p {
    font-weight: 400;
    font-size: 16pt;
}
  
.city-name span {
    position: relative;
    top: -50px;
    font-size: 40pt;
    font-family: "Times New Roman", Times, serif;
}
  
.temp span {
    font-weight: 100;
    font-size: 5em;
    letter-spacing: -5px;
    white-space: nowrap;
}
.card-mid {
    line-height: 0.5;
}
.condition {
    font-size: 1em;
    font-weight: 700;
    line-height: 1em;
    text-transform: capitalize;
}
  
.card-bottom p {
    font-size: 30px;
    font-weight: 50;
    letter-spacing: -3px;
}

.delete-button {
    display: none;
}
.card:hover .delete-button {
    display: block;
    position: absolute;
    left: 80px;
    top: 250px;
    width: 50%;
    text-align: center;
}
.card:hover .card-img-overlay{
    opacity: .5;
    background-color: white;
}
