<template>
    <div>
        <h1 class="title text-center">Weather App</h1>
        <form class="search-location" @submit.prevent="getWeatherInfo">
            <div>
                <span>City: </span>
                <input
                    type="text"
                    class="form-control shadow-sm"
                    placeholder="City"
                    v-model="citySearch"
                    autocomplete="off"
                />
            </div>
            
            <div class="my-3">
                <span>Interval (Second): </span>
                <select class="form-control shadow-sm" v-model="selectedInterval" style="max-width: 200px;">
                    <option value="1500">15</option>
                    <option value="3000">30</option>
                    <option value="6000">60</option>
                </select>
            </div>
            
            
            <div class="col text-center my-3">
                <button type="submit" class="btn btn-primary">Add Tile</button>
            </div>
        </form>
        
        <p class="text-center my-3" v-if="cityFound">City not found</p>
        <p class="text-center my-3" v-if="cityDuplicate">City cannot duplicate</p>
        <p class="text-center my-3" v-if="cityEmpty">City name is empty</p>
        
        <div class="container weather-group">
            <div class="row text-center">
                <div v-for="(weatherArr, index) in weatherArrs" :key="weatherArr.name" class="col-3" style="max-width: 400px; min-width: 360px;">
                    <div
                        class="card card-block rounded my-3 shadow-lg back-card overflow-hidden"
                    >
                        <img src="/images/sunny.jpg" class="card-img" alt="sunny" v-if="weatherArr.clearSky">

                        <img src="/images/storm.jpg" class="card-img" alt="storm" v-if="weatherArr.stormy">

                        <img src="/images/night.jpg" class="card-img" alt="night" v-if="weatherArr.clearNight">

                        <img src="/images/snow.jpg" class="card-img" alt="snow" v-if="weatherArr.snowy">

                        <img src="/images/cloudy.jpg" class="card-img" alt="cloudy" v-if="weatherArr.cloudy">

                        <img src="/images/mist.jpg" class="card-img" alt="cloudy" v-if="weatherArr.mist">

                        <div class="card-img-overlay">
                            <!-- Top of card starts here -->
                            <div class="card-top text-center" style="margin-bottom: 15rem">
                                <div class="city-name my-3">
                                    <p>{{weatherArr.name}}</p>
                                    <span>...</span>
                                    <p class="">{{weatherArr.sys.country}}</p>
                                </div>
                            </div>
                            <!-- top of card ends here -->

                            <!--card middle body, card body used cos I want to just update the innerHTML -->
                            <div class="card-body">
                                <!-- card middle starts here -->
                                <div class="card-mid">
                                    <div class="row">
                                        <div class="col-12 text-center temp">
                                            <span>{{Math.round(weatherArr.main.temp)}}&deg;C</span>
                                            <p class="my-4">{{weatherArr.weather[0].description}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col text-center">
                                            <p>{{Math.round(weatherArr.main.temp_min)}}&deg;C</p>
                                            <span>Min Temp</span>
                                        </div>
                                        <div class="col text-center">
                                            <p>{{Math.round(weatherArr.main.temp_max)}}&deg;C</p>
                                            <span>Max Temp</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- card middle ends here -->

                                <!-- card bottom starts here -->
                                <div class="card-bottom px-5 py-4 row">
                                    <div class="col text-center">
                                        <p>{{Math.round(weatherArr.main.feels_like)}}&deg;C</p>
                                        <span>Feels like</span>
                                    </div>
                                    <div class="col text-center">
                                        <p>{{Math.round(weatherArr.main.humidity)}}%</p>
                                        <span>humidity</span>
                                    </div>
                                </div>
                                <!-- card bottom ends here -->
                                
                            </div>
                        </div>
                        <button class="btn btn-danger delete-button" @click="deleteWeather(index, weatherArr.intervalId)">
                                    <span aria-hidden="true" style="font-size:30px">Delete</span>
                                </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        // mounted() {
        //     this.fetchData()
        // },
        data() {
            return {
                cityEmpty: false,
                cityDuplicate: false,
                cityFound: false,
                citySearch: "",
                selectedInterval: "1500",
                weatherArrs: [],
                weather:{
                    cityName: "Gwarinpa",
                    country: "NG",
                    temperature: 12,
                    description: "Clouds everywhere",
                    lowTemp: "19",
                    highTemp: "30",
                    feelsLike: "20",
                    humidity: "55",
                },
                location: {
                    name: 'London',
                }
            }
        },
        methods: {
            getWeatherInfo: async function () {
                if(this.citySearch != ""){
                    //compare the city is exist
                    const nameExist = this.weatherArrs.filter(info => info.name.toLowerCase() == this.citySearch.toLowerCase());

                    if(nameExist.length == 0){
                        await this.searchweather(this.citySearch, false);
                    }else{
                        this.cityDuplicate = true;
                        this.cityFound = false;
                        this.cityEmpty = false;
                    }
                }else{
                    this.cityEmpty = true;
                }
                
            },
            deleteWeather: function(key, intervalId){
                this.$delete(this.weatherArrs, key);
                clearInterval(intervalId);
            },
            startInterval: function(name, interval){
                var self = this
                const weaInterval = setInterval(function(){
                    self.searchweather(name, true);
                },interval);
                return weaInterval;
            },
            searchweather: function(name, isInterval) {
                fetch(`/weather`, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",      
                        "X-CSRF-TOKEN": document.head.querySelector('meta[name="csrf-token"]').content,
                    },
                    body: JSON.stringify({ city: name})          
                })
                .then(response => response.json())
                .then(data => {
                    if(data.errorMessage){
                        this.cityFound = true;
                    }else{
                        if(data.name != ""){
                            const timeOfDay = data.weather[0].icon;

                            ///check for time of day
                            if (timeOfDay.includes("n")) {
                                this.isDay = false;
                            } else {
                                this.isDay = true;
                            }

                            const mainWeather = data.weather[0].main;

                            //check weather 
                            if (mainWeather.includes("Clouds")) {
                                this.stormy = false;
                                this.cloudy = true;
                                this.clearSky = false;
                                this.clearNight = false;
                                this.snowy = false;
                                this.mist = false;
                            }
                            if (mainWeather.includes("Clouds")) {
                                this.stormy = false;
                                this.cloudy = true;
                                this.clearSky = false;
                                this.clearNight = false;
                                this.snowy = false;
                                this.mist = false;
                            }
                            if (
                            mainWeather.includes("Thunderstorm") ||
                            mainWeather.includes("Rain")
                            ) {
                                this.stormy = true;
                                this.cloudy = false;
                                this.clearSky = false;
                                this.clearNight = false;
                                this.snowy = false;
                                this.mist = false;
                            }
                            if (mainWeather.includes("Clear") && this.isDay) {
                                this.stormy = false;
                                this.cloudy = false;
                                this.clearSky = true;
                                this.clearNight = false;
                                this.snowy = false;
                                this.mist = false;
                            }
                            if (mainWeather.includes("Clouds") && !this.isDay) {
                                this.stormy = false;
                                this.cloudy = false;
                                this.clearSky = false;
                                this.clearNight = true;
                                this.snowy = false;
                                this.mist = false;
                            }
                            if (mainWeather.includes("Snow")) {
                                this.stormy = false;
                                this.cloudy = false;
                                this.clearSky = false;
                                this.clearNight = false;
                                this.snowy = true;
                                this.mist = false;
                            }
                            if (mainWeather.includes("Mist")) {
                                this.stormy = false;
                                this.cloudy = false;
                                this.clearSky = false;
                                this.clearNight = false;
                                this.snowy = false;
                                this.mist = true;
                            }

                            data.stormy = this.stormy;
                            data.cloudy = this.cloudy;
                            data.clearSky = this.clearSky;
                            data.clearNight = this.clearNight;
                            data.snowy = this.snowy;
                            data.mist = this.mist;
                            data.selectedInterval = this.selectedInterval;

                            if(isInterval){
                                // find the index in the array
                                const indexArr = this.weatherArrs.findIndex(info => info.name.toLowerCase() == name.toLowerCase());

                                if(indexArr >= 0){
                                    data.intervalId = this.weatherArrs[indexArr].intervalId;

                                    // using Vue.set
                                    Vue.set(this.weatherArrs, indexArr, data);

                                    console.log(JSON.stringify(this.weatherArrs));
                                }
                            }else{
                                const intervalId = this.startInterval(data.name, this.selectedInterval);
                                data.intervalId = intervalId;

                                this.weatherArrs.unshift(data);
                                
                                this.citySearch = "";
                                this.cityFound = false;
                                this.cityDuplicate = false;
                                this.cityEmpty = false;
                            }
                        }else{
                            this.cityFound = true;
                        }
                    }
                })
            }
        }
    }
</script>

